<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>年假信息</title>
</head>
<body>
<div id="info"></div>
</body>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/dist/js/common.js"></script>
<script type="text/javascript" src="/dist/js/info/index.js"></script>
<script type="text/javascript" src="/global/lib/jquery.min.js"></script>
</html>
